<?xml version="1.0"?>
<config>
    <modules>
        <IWE_EmailReminder>
            <version>0.0.2</version>
        </IWE_EmailReminder>
    </modules>

    <global>
        <blocks>
            <iwe_emailreminder>
                <class>IWE_EmailReminder_Block</class>
            </iwe_emailreminder>
            <followupemail>
                <rewrite>
                    <adminhtml_rule_edit_tab_general>IWE_EmailReminder_Block_Adminhtml_Rule_Edit_Tab_General</adminhtml_rule_edit_tab_general>
                </rewrite>
            </followupemail>
        </blocks>
        <helpers>
            <iwe_emailreminder>
                <class>IWE_EmailReminder_Helper</class>
            </iwe_emailreminder>
        </helpers>
        <resources>
            <iwe_emailreminder_setup>
                <setup>
                    <module>IWE_EmailReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwe_emailreminder_setup>
            <iwe_emailreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwe_emailreminder_write>
            <iwe_emailreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwe_emailreminder_read>
        </resources>
        <!-- Our customer events here -->
        <events>
            <rental_start>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>rentalStart</method>
                    </iwe_emailreminder>
                </observers>
            </rental_start>
            <rental_end>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>rentalEnd</method>
                    </iwe_emailreminder>
                </observers>
            </rental_end>
            <quote_sent>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>quoteSent</method>
                    </iwe_emailreminder>
                </observers>
            </quote_sent>
            <quote_processed>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>quoteProcessed</method>
                    </iwe_emailreminder>
                </observers>
            </quote_processed>
        </events>
    </global>
</config>