<?xml version="1.0"?>
<config>
    <modules>
        <IWE_EmailReminder>
            <version>0.0.2</version>
        </IWE_EmailReminder>
    </modules>

    <global>
        <blocks>
            <iwe_emailreminder>
                <class>IWE_EmailReminder_Block</class>
            </iwe_emailreminder>
            <followupemail>
                <rewrite>
                    <adminhtml_rule_edit_tab_general>IWE_EmailReminder_Block_Adminhtml_Rule_Edit_Tab_General</adminhtml_rule_edit_tab_general>
                    <adminhtml_rule_grid>IWE_EmailReminder_Block_Adminhtml_Rule_Grid</adminhtml_rule_grid>
                </rewrite>
            </followupemail>
        </blocks>
        <helpers>
            <iwe_emailreminder>
                <class>IWE_EmailReminder_Helper</class>
            </iwe_emailreminder>
        </helpers>
        <models>
            <iwe_emailreminder>
                <class>IWE_EmailReminder_Model</class>
            </iwe_emailreminder>
        </models>
        <resources>
            <iwe_emailreminder_setup>
                <setup>
                    <module>IWE_EmailReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwe_emailreminder_setup>
            <iwe_emailreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwe_emailreminder_write>
            <iwe_emailreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwe_emailreminder_read>
        </resources>
        <!-- Our customer events here -->
        <events>
            <sales_order_place_after>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>rentalStart</method>
                    </iwe_emailreminder>
                </observers>
            </sales_order_place_after>
            <sales_order_place_after>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>rentalEnd</method>
                    </iwe_emailreminder>
                </observers>
            </sales_order_place_after>
            <!--
            <quote_sent>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>quoteSent</method>
                    </iwe_emailreminder>
                </observers>
            </quote_sent>
            -->
            <r4q_adminhtml_quote_create_process_data>
                <observers>
                    <iwe_emailreminder>
                        <type>singleton</type>
                        <class>IWE_EmailReminder_Model_Events</class>
                        <method>quoteProcessed</method>
                    </iwe_emailreminder>
                </observers>
            </r4q_adminhtml_quote_create_process_data>
        </events>
    </global>
</config>